/*same code for header and footer throughout the website*/
body{
	background-image:url('macaronsb.png');
	background-repeat: no-repeat;
 	background-size: 1540px 1000px;
}
/*NAVIGATION BAR*/
@keyframes navi {
  50% {color: yellow;}
}
#header{
	display: inline;
	background-color : black;
	opacity:0.85;	
	display: inline-block;
	width : 93%;
	padding: 10px 50px 10px 50px;
	color: white;
}
img{
	display: inline-block;
	width:50px;
	height:50px;
}
#title{
	display: inline-block;
	color: white;
	font-size: 40px;
	font-family: "Brush Script MT", cursive;
	margin-left:70px;
	animation: navi 3s infinite;
}
#navi1{
	display: inline-block;
	background-color : black;
	font-size: 30px;
	opacity:1.0;
	color: white;
	font-family: "Brush Script MT", cursive;
	padding: 10px 20px 10px 20px;
	margin-left:100px;
	animation: navi 3s infinite;
}
.navi2{
	display: inline-block;
	background-color : black;
	font-size: 30px;
	opacity:1.0;
	color: white;
	font-family: "Brush Script MT", cursive;
	padding: 10px 20px 10px 20px;
	margin-left:50px;
	animation: navi 3s infinite;
}
/*BODY*/
#cart{
	background-image:url('pic1.jpg');
	background-repeat: no-repeat;
	background-size: 600px 900px;
	color: white;
	margin-left: 80px;
	margin-top:80px;
	padding: 20px 20px 20px 20px;
}
#font{
	color: white;
	font-size: 40px;
	font-family: "Lucida Console", "Courier New", monospace;
}
#item{
	display: inline-block;
	color: white;
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
}
img.item{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin-left: 225px;
}
img.item1{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin-left: 370px;
}
img.item2{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin-left: 356px;
}
img.item3{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin-left: 333px;
}
#total{
	display: inline-block;
	color: white;
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
	margin-left: 400px;
}

/*PAYMENT*/
#gotopayment{
	font-size: 30px;
	opacity:1.0;
	color: white;
	font-family: "Brush Script MT", cursive;
	padding: 10px 20px 10px 20px;
	margin-top: 10px;
	margin-left:1150px;
}
#go_to{
	display: inline-block;
	background-color :black;
	font-family: "Brush Script MT", cursive;
	font-size:30px;
	color: white;
	width:200px;
	height:40px;
}
img.cart1{
	display: inline-block;
	width:60px;
	height:60px;
}
/*FOOTER*/
#footer{
	display: inline-block;
	background-color : black;
	color: white;
	opacity:0.85;	
	width : 93%;
	padding: 4px 50px 4px 50px;
}
.f{
	margin-left:550px;
	display: inline-block;
}
#f1{
	margin-left:600px;
	display: inline-block;
}
#f2{
	margin-left:650px;
	display: inline-block;
}